@(message: String, users: List[dao.entity.User], myForm: Form[dao.entity.User])
@import helper._

@main("Play2 + Spring3 + Hibernate3") {
    
    <h2>@message</h2>
    
    @form(action = routes.Application.add()) {
        <fieldset>
	        @inputText(
	                myForm("login"), 
	                '_label -> "Login", 
	                '_help -> "Please choose a valid username.",
	                '_error -> myForm.globalError
	        )
	        @inputText(myForm("name"),
	            '_label -> "Name"
	        )
        </fieldset>
        
        <div class="actions">
	        <input class="btn primary" type="submit" value="Add"/>
	        <a href="/" class="btn">Cancel</a>
        </div>
    }
    
    <h2>users</h2>
    <table class="table">
    <thead>
        <tr>
        <td>id</td>
        <td>login</td>
        <td>name</td>
        </tr>
    </thead>
    @for(u <- users) {
    <tr>
        <td>@u.getId()</td>
        <td>@u.getLogin()</td>
        <td>@u.getName()</td>
    </tr>
    }
    </table>
}